name: Test, build and publish

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: ["3.8", "3.9", "3.10", "3.11"]

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set Up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Dependencies
        run: |
          python -m pip install --root-user-action=ignore --upgrade pip
          pip install --root-user-action=ignore -r requirements.txt

      - name: Run PyTest
        run: |
          pip install --root-user-action=ignore pytest pytest-cov
          pytest

  deploy:
    needs: test
    runs-on: ubuntu-latest
    environment:
      name: pypi
    permissions:
      id-token: write # IMPORTANT: this permission is mandatory for trusted publishing

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Python Package New Version
        uses: MathieuMoalic/action-python-package-new-version@v1.0.1
                        
      - name: Set up Python
        if: env.PUBLISHING == 'true'
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Build package
        if: env.PUBLISHING == 'true'
        run: python -m pip install --upgrade pip && pip install build && python -m build

      - name: Publish package distributions to PyPI
        if: env.PUBLISHING == 'true'
        uses: pypa/gh-action-pypi-publish@release/v1
